@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F3FF; /* Set your custom color */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background); /* Uses #F8F3FF in light mode */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-montserrat), sans-serif;
}
